@charset "UTF8";

* {
    padding: 0px;
    margin: 0px;
}

.cabecalho {
    background-color: #881e66;
    width: 100%;
}   
 
.container-content-cabecalho {
    padding: 4px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a[href="##"] {
    margin-right: 5.1em;
}

.caminho-de-pao {
    background-color: rgb(160,29, 117);
    max-width: 100%;
}

.list-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    position: initial;
}

#logo-img {
    margin: 0px 10px 0px 20px;
    margin-left: 20px;
}

.list-items > li {
    display: inline;
    padding: 14px;
    margin: 11px 4.2px;
    padding: 0px;
}

.list-items > li > a {
    color: rgba(255, 255, 255, 0.897);
    font-size: .8em;
    text-decoration: none;
}

.list-items > li > a:hover {
    text-decoration: underline;
}

.popup {
    background-color: #ba3b92;
    position: absolutex;
    max-width: 100%;
    top: 4em;
    display: none;
}

.popup > span {
    display: block;
}

.popup > span > a {
    font-size: 1em;
    color: white;
    text-decoration: none;
}

.popup > span > a:hover {
    text-decoration: underline;
}

.pipe {
    border-right: 1px solid white;
    margin: 0px 17px 0px 17px;
    user-select: none;
}

.container {
    max-width: 300em;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 42%;
    background-color: white;
    height: 46em;
    padding: 0px 0px 0px 20px;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: rgb(75, 72, 94);
    font-weight: 500;
    padding: 20px 25px;
}

label {
    color: #7b7b7b;
}

img {
    display: block;
    position: relative;
}

.campo {
    position: relative;
    top: -74px;
    left: 86px;
}

#num {
    position: relative;
    left: 41px;
}

#numero {
    position: relative;
    top: 13px;
    left: 39.1px;
    padding: 9px;
    width: 334px;
    border: 1px solid #7b7b7b67;
    bonrder-radius: 4px;
    height: 19px;
}

.campo1 {
    position: relative;
    bottom: 20px;
    left: 2px;
}

input[placeholder] {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #7b7b7b93;
}

p > a[href="#"] {
    color: #a01774;
    font-weight: bold;
    font-size: .9em;
    text-decoration: none;
}

p > a[href="#"]:hover {
    text-decoration: underline;
}

p {
    text-align: right;
    position: relative;
    right: 79px;
}

input#checkbox {
    margin-right: 10px;
}

a#jj {
    color: #a01774;
    font-weight: bold;
    font-size: .9em;
    text-decoration: none;
}

a#jj:hover {
    text-decoration: underline;
}

.ti {
    position: relative;
    left: 27px;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    bottom: 9px;
}

.ti:hover {
    text-decoration: underline;
}

#numero1 {
    position: relative;
    top: 2px;
    left: 1.1px;
    padding: 9px;
    width: 457px;
    border: 1px solid #7b7b7b67;
    border-radius: 4px;
    height: 19px;   
}

input[type="submit"] {
    background-color: #a01775;
    padding: 10px;
    cursor: pointer;
    outline: #a01775;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-size: .9em;
    width: 70px;
    float: right;
    margin-right: 50px;
}

span > a {
    display: block;
    text-align: center;
    position: relative;
    top: 5em;
    color: #a01775;
    text-decoration: none;
    font-weight: bold;
}

span > a:hover {
    text-decoration: underline;
}

#down {
    text-align: center;
    position: relative;
    top: 5em;
    left: -3.3em;
    margin: 10px;
    margin-bottom: 20px;
}

.social-medias {
    display: flex;
    justify-content: center;
}

.social-medias a {
    text-decoration: underline;
    margin-right: 6px;
    position: relative;
    left: -3em;
    color: #0000ee;
    font-weight: normal;
    font-size: 1.1;
}

.right {
    color: #fff;
    width: 62%;
    display: flex;
    padding: 30px;
    align-items: center;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;
    background-color: #aa3083;
    padding-right: 4em; 
}

#images {
    display: flex;
    position: relative;
    float: inline-start;
    top: -9em;
}

#images img {
    display: block;
    float: left;
    width: 8em;
    padding: 0px;
    margin: 0px;
}

#images .lefttt {
    position: absolute;
    right: 55em;
    top: -2em;
}

#images .righttt {
    position: relative;
    bottom: 2em;
    right: -18em;
}

.right span {
    position: relative;
    right: 9em;
    bottom: 55px;
}

ul {
    position: relative;
    bottom: 47px;
}

ul li {
    padding: 5px;
}

.right h2 {
    position: relative;
    font-size: 60px;
    margin-bottom: 10px;
    bottom: 55px;
    font-weight: normal;
}