@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nexa';
    src: url('../font/Nexa\ Regular.otf') format('opentype');
}

.material-symbols-outlined {
    font-weight: 200;
    color: white;
}

body {
    max-width: 100vw;
    height: 100vh;
    color: white;
    font-family: 'Nexa';
}

.navbar {
    position: relative;
    padding: 0 85px 0 85px;
    max-width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #881E66;
}

div.navbar ul.left {
    max-width: 385px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

ul.left li a {
    color: white;
    font-weight: lighter;
    text-decoration: none;
    font-size: 16px;
}

ul.left li a:hover, .first:not(.material-symbols-outlined):hover, .second:hover:not(.material-symbols-outlined) {
    text-shadow: 0 0 2px white;
}

div.navbar div.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 290px;
}

div.right .first {
    display: flex;
    align-items: center;
}

div.right .second {
    display: flex;
    align-items: center;
}

/*-------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 85px 0 85px;
    height: 6.5em;
    background-color: #A01775;
}

.logo {
    margin-right: 0;
    cursor: pointer;
}

.header .menu-list {
    display: flex;
    list-style-type: none;
}

.header .menu-list li {
    padding: 0 15px;
}

.header .menu-list li a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
}

.header .menu-list li a:hover {
    border-bottom: 1px solid white;
}

.header .menu-list li::after {
    content: '                      |';
}

.profile {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 11px 21px;
}

.profile:hover {
    text-shadow: 0 0 2px white;
    cursor: pointer;
}

.slider {
    width: 100%;
    height: 480px;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 480px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 100%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100vw;
    height: 480px;
}

.manual-navigation {
    position: absolute;
    max-width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -100vw;
}

.navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3;
}

.navigation-auto {
    position: absolute;
    max-width: 100vw;
    margin-top: 440px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #ffffff;
}

.texto {
    height: 40px;
}

.texto > marquee > p {
    color: white;
    font-weight: bold;
}

.texto > marquee {
    background-color: #F2841E;
    padding: 10px;
}

.footer {
    margin-top: 0;
    padding: 0 85px 0 60px;
    background-color: #27b1b1;
    max-width: 100%;
    height: 131px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .first-info {
    width: 50%;
}

.footer .first-info > div {
    display: flex;
    justify-content: space-between;
}

.footer .first-info > div > span {
    padding-right: 40px;
}

.footer .first-info > div ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.footer .first-info > div ul > li {
    padding: 8px;
}

.footer .second-info {
    width: 50%;
    display: flex;
    align-items: center;
}
.footer .second-info:last-child {
    position: absolute;
    top
}
