@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nexa';
    src: url('../font/Nexa\ Regular.otf') format('opentype');
}

.material-symbols-outlined {
    font-weight: 200;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: 'Nexa';
}

.navbar {
    position: relative;
    padding: 0 85px 0 85px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #881E66;
}

div.navbar ul.left {
    width: 385px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

ul.left li a {
    color: white;
    font-weight: lighter;
    text-decoration: none;
    font-size: 16px;
}

ul.left li a:hover, .first:not(.material-symbols-outlined):hover, .second:hover:not(.material-symbols-outlined) {
    text-shadow: 0 0 2px white;
}

div.navbar div.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
}

div.right .first {
    display: flex;
    align-items: center;
}

div.right .second {
    display: flex;
    align-items: center;
}